@import '../../App.scss';

.navbar{

    padding: 10px 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    gap: 3em;
    border-bottom: solid grey 1px;

    img{
      transition: 0.2s;
      width: 10em;
    }

    img:hover{
      opacity: 0.7;
      transition: 0.2s;
      cursor: pointer;
    }

    h3{
      color: $color-text-primary;
      transition: 0.2s;
    }

    h3:hover{
      color: $color-text-secondary;
      transition: 0.2s;
      cursor: pointer;
    }
  }