// Variables de couleur
$color-bg: #121212;
$color-bg-secondary: #1E1E1E;
$color-text-primary: #E0E0E0;
$color-text-secondary: #B0B0B0;
$color-accent-primary: #4CAF50;
$color-accent-secondary: #FF5722;
$color-line: #333333;
$color-hover: #388E3C;

// Reset global et styles de base
body {
  background-color: $color-bg;
  color: $color-text-primary;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: $color-text-primary;
}

p {
  color: $color-text-secondary;
}
